h1{
    color: blue;
    text-align: center;
}
#first{
    width: 500px;
    height: 300px;
    background-color: coral;
    float: left;
}
#second{
    float: left;
    width: 500px;
    height: 300px;
    background-color: darkblue;
}